<div ng-style="temp3DivStyle">

<!-- <div class="sampleContainer" ng-style="temp3Loading">
    <div class="loader">
        <span class="dot dot_1"></span>
        <span class="dot dot_2"></span>
        <span class="dot dot_3"></span>
        <span class="dot dot_4"></span>
    </div>
</div> -->
	
	<div ng-style="temp3CityStyle">City: {{temp3Data.city}}</div>
	<div ng-style="temp3TempStyle">Temperature: {{temp3Data.temp}}</div>
    <div ng-style="temp3WindStyle">Wind Speed: {{temp3Data.windSpeed}}</div>
    <div ng-style="temp3TempStyle">Temperature: {{temp3Data.temp}}</div>
    <div ng-style="temp3WeatherStyle">{{temp3Data.weatherMain}}: {{temp3Data.weatherDesc}}</div>

	<!-- <div ng-style="temp3TextStyle" class="temp3TextClass" style="white-space:pre"> -->
	</div>
</div>


